# Normalisation des fins de ligne
* text=auto

# Scripts Python → toujours en LF
*.py text eol=lf

# Scripts shell (éventuels)
*.sh text eol=lf

# Markdown → éviter les CRLF moches
*.md text eol=lf

# YAML (GitHub Actions, configs...)
*.yml text eol=lf
*.yaml text eol=lf

# Dart (Flutter apps)
*.dart text eol=lf
